* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Lobster', cursive;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    background-color: #bc8f8f;
    color: #bc8f8f;
    height: 100%;
    margin: 15px;
    padding: 1rem;
    min-height: 90vh;
  }
  
#quote-box {
    border-radius: 5px;
    width: 100%;
    min-width: 100px;
    max-width: 450px;
    height: auto;
    background-color: #fff;
    padding: 30px;
    margin: auto;
  }
  
  .quote-text {
    font-size: 2.1rem;
    text-align: center;
    width: 450px;
    height: auto;
    clear: both;
    font-weight: 500;
      animation: fade 1.8s;
  }
  
  @keyframes fade {
      0%   { opacity: 0; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
  .fa-quote-left {
    font-size: 15px;
    margin-right: 7px;
  }
  
  .quote-author {
    width: 450px;
    height: auto;
    padding-top: 20px;
    font-size: 1.1rem;
    text-align: right;
  }
  
  .buttons {
    width: 450px;
    margin: auto;
    display: block;
    margin-top: 20px;
  }
  
  .btn {
    background-color: #bc8f8f;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
    padding: 8px 18px;
    cursor: pointer;
    margin: 0 auto;
  }
  
  #new-quote {
    float: right;
    font-family: 'Andika New Basic', sans-serif;
  }
  
  #tweet-quote {
    float: left;
    padding: 0px;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 30px;
    width: 40px;
  }
  
  
  @media screen and (max-width: 768px) {
    #quote-box {
       width: 80%;
      height: auto;
    }
  
    .quote-text {
      font-size: 1.5rem;
      width: auto;
    }
    
    .buttons, .quote-author {
       width: auto;
    }
    
  }